
<EditForm Model="@OrderItem" OnValidSubmit="@ApplayChangesAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="input-group">
        <span class="input-group-text">Name:</span>
        <InputText class="form-control" placeholder="Name" @bind-Value="OrderItem.Name" />
        <ValidationMessage For="@(()=>OrderItem.Name)" />
        @if (!_isCheckName)
        {
            <div class="input-group-text">
                Введите другое занчение: @OrderItem.Name
            </div>
        }
    </div>
    <div class="input-group">
        <span class="input-group-text">Quantity:</span>
        <InputNumber class="form-control" placeholder="Quantity" @bind-Value="OrderItem.Quantity" />
        <ValidationMessage For="@(()=>OrderItem.Quantity)" />
    </div>
    <div class="input-group">
        <span class="input-group-text">Unit:</span>
        <InputText class="form-control" placeholder="Unit" @bind-Value="OrderItem.Unit" />
        <ValidationMessage For="@(()=>OrderItem.Unit)" />
    </div>
    <div class="row">
        <div class="col-2">
            <button type="submit"> Изменить </button>
        </div>
    </div>
</EditForm>
